.text {
    margin-top: 10px;
    font-size: 25px;
    background: linear-gradient(90deg, rgba(143, 206, 161, 1) 0%, rgba(95, 197, 184, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}
