<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="centered">
      <span class="text">FAVORITE MOVIES</span>
    </div>
  </ion-toolbar>
  <ion-segment style="background-color: white;" [value]="selectedCategory" (ionChange)="segmentChanged($event)"
    scrollable mode="md">

    <ion-segment-button *ngFor="let category of localdataSrv.categories" [value]="category">
      <ion-label class="ion-text-capitalize">{{ category }}</ion-label>
    </ion-segment-button>

  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="localdataSrv.favoriteMovies.length !== 0">
    <ion-row>
      <ion-col size="4" size-lg="4" size-md="6" size-sm="6" size-xs="12" *ngFor="let movie of favoritesFiltered">
        <app-movie-card (refresh)="refresh($event)" [movie]="movie"></app-movie-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h3 class="ion-text-center" style="opacity: 0.5;" *ngIf="localdataSrv.favoriteMovies.length === 0">No favorites
    movies</h3>
</ion-content>